<html ng-app="lrApp">
<head>
    <title>Tools</title>
</head>
<body>
    <div ng-controller="ContractController as contract">
        <h3>Token Contract</h3>
        <button ng-click="contract.createToken()">Create Tokens</button><br />
        <b>Address:</b> {{contract.tokenContractAddress}}
        <hr />
        <h3>Company</h3>
        <button ng-click="contract.createAccount()">Create Company</button><br />
        <b>Address:</b> {{contract.companyAccount}}
        <hr />
        <h3>Buy Tokens</h3>
        <input type="text" ng-model="contract.tokenCredits" style="width:500px" />
        <button ng-click="contract.buyCredits()">Buy</button><br />
        <hr />
        <h3>Deduct Tokens</h3>
        <input type="text" ng-model="contract.tokenDeducts" style="width:500px" />
        <button ng-click="contract.deductCredits()">Deduct</button><br />
        <hr />
        <h3>Process Contract</h3>
        <input type="text" ng-model="contract.states" style="width:500px" />
        <br />        
        <button ng-click="contract.registerContract()">Register</button><br />
        <b>Address:</b> {{contract.processContract.address}} <br />
        <b>Abi: </b> {{contract.processContract.abi}}
        <hr />
        <h3>Initiate</h3>
        <table>
            <tr>
                <td>State</td>
                <td>
                    <input type="text" ng-model="contract.contractData.state" style="width:300px" />
                </td>
            </tr>
            <tr>
                <td>Form Code</td>
                <td>
                    <input type="text" ng-model="contract.contractData.formCode" style="width:300px" />
                </td>
            </tr>
            <tr>
                <td>Comments</td>
                <td>
                    <input type="text" ng-model="contract.contractData.comments" style="width:300px" />
                </td>
            </tr>
            <tr>
                <td>Approver</td>
                <td>
                    <input type="text" ng-model="contract.contractData.approver" style="width:300px" />
                </td>
            </tr>
        </table>
        <br />
        <button ng-click="contract.initiateContract()">Initiate</button>
        <hr />
        <h3>Kill</h3>
        <button ng-click="contract.kill()">Kill</button><br />
    </div>

    <script src="~/scripts/angular.min.js"></script>
    <script src="~/scripts/abi-decoder.js"></script>
    <script>
        angular.module('lrApp', [])
            .controller('ContractController', function ($http) {
                var ctrl = this;
                ctrl.company = "";
                ctrl.states = "Create,SubmitToManager,SubmitToDirector,Complete";
                ctrl.processContract = {};
                ctrl.tokenContractAddress = "";
                ctrl.tokenCredits = 100000;
                ctrl.tokenDeducts = 100;
                ctrl.contractData = {
                    state: "SubmitToManager",
                    formCode: "ABC",
                    comments: "Comments submitted",
                    approver: "PPK"
                }

                ctrl.createAccount = function () {
                    $http.post("/home/createaccount", { states: ctrl.states })
                        .then(function (response) {
                            ctrl.companyAccount = response.data;
                            alert("Account Created")
                        });
                }

                ctrl.decode = function () {

                    var tempAbi = JSON.parse(ctrl.abi);
                    var tempData = ctrl.data;

                    abiDecoder.addABI(tempAbi);
                    ctrl.decodedData = abiDecoder.decodeMethod(tempData);
                    console.log(ctrl.decodedData);
                }

                ctrl.createToken = function () {
                    $http.post("/home/createtoken", { states: ctrl.states })
                        .then(function (response) {
                            ctrl.tokenContractAddress = response.data.address;
                            alert("Tokens Created")
                        });
                }

                ctrl.buyCredits = function () {
                    $http.post("/home/buytokens", { tokens: ctrl.tokenCredits })
                        .then(function (response) {
                            alert("Coins allocated")
                        });
                }

                ctrl.deductCredits = function () {
                    $http.post("/home/deducttokens", { tokens: ctrl.tokenDeducts })
                        .then(function (response) {
                            alert("Coins deducted")
                        });
                }

                ctrl.registerContract = function () {
                    $http.post("/home/registerprocesscontract", { states: ctrl.states })
                        .then(function (response) { 
                            ctrl.processContract = response.data;
                            alert("Contract Registered")
                        });
                }

                ctrl.initiateContract = function () {
                    $http.post("/home/initiateprocesscontract", ctrl.contractData)
                        .then(function () {
                        alert("Contract Intantiated")
                    });
                }

                ctrl.kill = function () {
                    $http.post("/home/kill")
                        .then(function (response) {
                            alert("Token Contract Killed")
                        });
                }
            });
    </script>
</body>
</html>
